.Quote{
    width: 97%;
    height: 11%;
    flex-shrink: 0;
    border-radius: 25px;
    background: #90EED8;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px
}



#lot{
    background: #6FEA99;
    display: block;
}

.lotCont{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.addTransBtn{
    padding: 8px 7px 8px 7px;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 8px;
    background: #40BE72;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
}

.addTransBtn:hover{
    background-color: #04AA6D;
    color: white;
}



.subCont{
    margin-bottom: 2%;
}

.DropDown, .Rotated{
    width: 23.77px;
    height: 20.029px;
    flex-shrink: 0;
    fill: #1B4920;
    background: #90EED8;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    margin-top: 0.5%;
    margin-right: 1%;
    transition: none;
}

.Rotated {

    transform: rotate(180deg);
}


.Vcol{
    margin-right: 4.3%;
    flex: 1;
    text-align: center;
}